
<mat-sidenav-container class="home-page-ttb">
    <mat-toolbar color="primary">
        <span class="toolbar-title" role="heading">
          Tabako2
        </span>
      </mat-toolbar>
    <div class="main-body">
        <mat-grid-list cols="12"  >
            <mat-grid-tile colspan="12" rowspan="4">
                <a  class="start-button" (click)="navigateToUserPage()" mat-raised-button>
                    start              </a>
            </mat-grid-tile>
            </mat-grid-list>
    
    </div>

</mat-sidenav-container>
