<!-- <mat-sidenav-container class="home-page-ttb">
    <mat-toolbar color="primary">
        <span class="toolbar-title" role="heading">
            Tabako
        </span>
    </mat-toolbar>
    <div class="main-body">
        <mat-grid-list cols="12">
            <mat-grid-tile colspan="12" rowspan="4">
                <button class="start-button"mat-raised-button>
                    start </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</mat-sidenav-container> -->
<app-player></app-player>